<!DOCTYPE html>
<html>
<head>
  <title>HydraShield</title>
  <%= stylesheet_link_tag    "hydra_shield/application", media: "all" %>
  <%= javascript_include_tag "hydra_shield/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
